body{

}

.section-title{
  padding-top: 20px;
  padding-bottom: 0px;
  color: #484848;
  font-family: 'Roboto', sans-serif;
}

.nav_home{
  justify-content: normal;

}

.project-name{
  cursor:pointer;
}

.search-bar{
  position: relative;
  margin-bottom: 0px;
}

#sign-in{
  position: relative;
  padding-left: 65%;
  padding-top: 10px;
}

.sign-btn:hover{
  color:green;
  cursor: pointer;
}

.grid-container{
  padding-left: 10%;
  padding-right: 10%;
}

.item-wrapper{
 text-align: left;
 padding: 20px;
}

.item-image{
  display:inline-grid;
  width: 270px;
  height: 190px;
  border-radius: 5px;
}

.item-text{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  margin:0px;
  font-size: 16px;
}

.item-text.item-tag{
  color: rgb(118, 118, 118);
}

.item-text.item-title{
  font-weight: bold;
}

.item-text.item-host{

}

.home-footer{
  height:70px;
}




/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: auto;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 90;
  height: 415px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  max-height: 410px;

}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


#myForm {
  display: none;
  position: fixed;
  top: auto;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 90;
  height: 200px;
}

#myFilter {
  position: fixed;
  top: auto;
  width: 500px;
  height: 160px;
  display: none;
  margin-top: 110px;
  margin-left: 110px;
  padding-top: 20px;
  padding-left: 20px;
  z-index: 90;
  background-color: white;
  border: solid;
  border-color: gray;
  border-width: 1px;
}

.filter-heading {
  display: inline-block;
  padding-top: -10px;
  padding-bottom: 20px;
}
.material-icons.x-button {
  display: inline-block;
  float: right;
  padding-right: 20px;
  font-size: 40px;
  cursor: pointer;
  color: purple;
}


.btn-primary.btn {
  background-color: purple;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  /*margin-bottom:10px;*/
  /*opacity: 0.8;*/
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  /*opacity: 1;*/
}

#pwo {
  background-color: blue;

}

.new-project-box {
	width: 270px;
	height: 190px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border-style: solid;
	border-width: 2px;
}
.material-icons.add-icon {
	font-size: 80px;
}

.notifbar {
  position: absolute;
  display: none;
  width: 350px;
  height: 600px;
  top: auto;
  left: 70%;
  background-color: white;
  border: 1px solid black;
  z-index: 2;
}

.tiNot {
  border-bottom: 1px solid black;
  height: 8%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.smallOut {
  position: relative;
  left: -20px;
  height: 15px;
  width: 15px;
}

.indNot {
  height: 20%;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.notImg {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  height: 100px;
  width: 100px;
}

.notText {
  position: relative;
  display: inline-block;
  float: right;
  width: 60%;
  margin-right: 5%;
  height: 80%;
  margin-top: 3%;
}

.indNot:hover {
  background-color: WhiteSmoke;
}
