body{

}

.section-title{
  padding-top: 20px;
  padding-bottom: 0px;
  color: #484848;
  font-family: 'Roboto', sans-serif;
}

.nav_home{
  justify-content: normal;
}

.search-bar{
  position: relative;
  margin-bottom: 0px;
}

.sign-in{
  position: relative;
  padding-left: 65%;
  padding-top: 10px;
}

.grid-container{
  padding-left: 10%;
  padding-right: 10%;
}

.item-wrapper{
 text-align: left;
 padding: 20px;
}

.item-image{
  display:inline-grid;
  width: 300px;
  height: 220px;
  border-radius: 5px;
}

.item-text{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  margin:0px;
  font-size: 16px;
}

.item-text.item-tag{
  color: rgb(118, 118, 118);
}

.item-text.item-title{
  font-weight: bold;
}

.item-text.item-host{

}

.home-footer{
  height:70px;
}
