body {

}

h1 {
	padding-top: 10px;
}
.item-wrapper {
	text-align: left;
	padding: 30px;
}

.grid-container {
	padding-left: 10%;
	padding-right: 10%;
}

.item-tag {

}
.item-image {
	display: inline-grid;
	width: 270px;
	height: 190px;
	border-radius: 5px;

}

.item-text {
	text-align: left;
	margin: 0px;
	font-family: roboto;
	line-height: 20px;
}

.item-text.item-tag {
	color: rgb(118 118 118);
}

.item-text.item-title {
	font-weight: bold;
}

.item-text.item-author {

}
.new-project-box {
	width: 270px;
	height: 190px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	border-style: solid;
	border-width: 2px;
}
.material-icons.add-icon {
	font-size: 80px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  border: none;
  outline: none
  background-color: #4CAF50;

}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  /*margin-bottom:10px;*/
  /*opacity: 0.8;*/
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}
