* {
  box-sizing: border-box;
}
.project-card {
  padding-top:30px;
}

.project-text-title {
  margin-bottom: 40px;
  padding-left: 4%;
}

.required {
  color: red;
}

#name-field {
  position: relative;
  width: 85%;
  height: 50px;
  font-size: 120%;
  padding-left: 0.5em;
  padding-top: 0.2em;
  background-color: #F8F8F8;
  resize: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.project-text-reg {
  margin-bottom: 15px;
}

.genfield {
  position: relative;
  width: 80%;
  font-size: 120%;
  padding-left: 0.5em;
  padding-top: 0.2em;
  background-color: #F8F8F8;
  resize: none;
  border-radius: 5px;
  border-color: gray;
}

#desc-field {
  height: 16%;
}

#contact-field {
  height: 14%;
}

#time-field {
  height: 10%;
}

.reqskillsbar {
  position: relative;
}

.project-info{
  display: inline-block;
  width: 60%;
  padding-left: 4%;
}

.imageUp {
  vertical-align: top;
  font-size: 1.5em;
  font-weight: bold;
  color: #4B0082;
  background-color: F8F8F8;
  border: 1px solid grey;
  border-radius: 5px;
  height: 340px;
  width: 340px;
  line-height: 340px;
  text-align: center;
  margin: 0px;
  cursor: pointer;
}

.imageUp:active{
  color: indigo;
  background-color: Gainsboro;
}

input[type="file"] {
  display: none;
}

.reqskillsbar {
  padding-left: 4%;
}

.skillbarheader {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.addPos {
  background-color: #4B0082;
  border: 1px solid indigo;
  color: white;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 3px;
}

.add-pos-wrapper{
  color: white;
}

#addPosition:active {
  color: Gainsboro;
  background-color: indigo;
}

.posForm{
  border: 1px solid grey;
  background-color: Gainsboro;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 45%;
  padding: 4px;
}

#submitButton {
  background-color: #4B0082;
  color: white;
  position: relative;
  left: 67%;
}


#cancelButton {
  background-color: Gainsboro;
  position: relative;
  left: 67%;
}

.doneButton {
  position: relative;
  background-color: white;
  left: 50%;
}

.newPos {
  border-radius: 5px;
}

.form-popup {
  display: none;
  position: fixed;
  top: auto;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 90;
	height: 200px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  /*margin-bottom:10px;*/
  /*opacity: 0.8;*/
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: gray;
}
